*, *::before, *::after {
  box-sizing: border-box;
}

.body{
font-size: 24px;
line-height: 1.7;  
}

h2{
font-family: 'PT Sans', Sans-Serif;
text-align: center;
}

h5{
font-family: 'Playfair Display', Serif;
text-align: center;
}

.container{
  text-align: center;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('https://i.postimg.cc/76zH0vJy/pexels-fox-1038916.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  }

.splash-inner{
  padding: 75px 0;
  text-align: center;
 
}

.btn{
  padding: 24px 24px 18px 24px;
  font-size: 16px;
  background-color: #e7eb0d;
  background-size: 300%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-family: 'PT Sans', Sans-Serif;
  letter-spacing: 1px;
  transition: 0.5s;
}

.btn:hover {
  background-color: lighten(#e7eb0d, 10%);
  color: #e7eb0d;
  }
  
.logo{
 padding: 20px 0;
 font-family: 'Playfair Display', Serif;
 font-size: 18px;
 color: #e7eb0d;
 display: flex;
 justify-content:space-between;
} 

.navigation{
  display: block;
  background: transparent;
  color: #ffffff;
  
}

.navigation ul{
  margin:0;
  padding:0;
  list-style-type: none;
  text-align: right;
}

.navigation ul li {
 display: inline-block;
 position: relative;
 margin: 0 36px 0 0;
 padding: 0;
 font-family: 'PT Sans', Sans-Serif;
 text-decoration: none;
 
}

.navigation a {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation a:hover {
 color: #000;
 background: #FFFFFF;
}

nav ul ul{
  display: none;
}


.navigation li:hover .second-line { 
 display: block;
 text-align: center;
 font-family: 'PT Sans', Sans-Serif;
 padding: 8px 24px 0 0;
 margin: 0 12px 0 30px;
 position: absolute;
 background: #bd9b03;
 left: 50%;
 transform: translateX(-50%); 
}


.page-title{
  margin: 0;
  font-family: 'PT Sans', Sans-Serif;
  color: #ffffff;
  font-size: 60px;
  word-spacing: 10px;
  font-weight: 700;
  line-height: 1.2;
  
}

.page-subtitle{
  font-family: 'Playfair Display', Serif;
  color: #ffffff;
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px;
}


  .features-wrapper {
    display: flex;
  }

.features{
  padding: 18px 0;
}
  
  .feature {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
  } 

.section-title{
  font-family: 'PT Sans', Sans-Serif;
  font-size: 48px;
}
  
.section-subtitle{
  font-family: 'Playfair Display', Serif;
  font-size: 18px;
  
}

  .feature i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    font-size: 32px;
    background-color: #e7eb0d;
    border-radius: 50%;
    box-shadow: 4px 4px 
    darken(#000, 20%);
  }
  
  .feature-title {
    margin: 24px 0 0 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'PT Sans', Sans-Serif;
  }
  
  .feature-description {
    margin: 24px 0 0 0;
    padding: 0 24px;
    font-family: 'Playfair Display', Serif;
    font-size: 14px;
  }
  
  .gallery{
    padding: 24px 0 30px 0;
    background: #b2bec3;
  }

.card-image img{
  width: 100%;
  height: 300px; 
  object-fit: cover;
}

  .social-link{
    list-style-type: none;
    padding: 0;
    
   }
   
   .social-links li {
   display: inline-block;
   width: 30px;
   text-align: center;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin-right: 20px;
   transition: 0.5s;
   }
   
   .social-links li:hover {
     background: #FFFFFF;
   }
   
   .social-links li a{
   display: block;
   width: 50px;
   height: 50px;
   line-height: 50px;
   color: #ffffff;
   font-size: 32px;
   background-color: #e7eb0d;
   border-radius: 50%;
   box-shadow: 4px 4px 
   darken(#000, 20%);
   transition: 0.5s;
   }
   
   .social-links li a:hover {
     color: #000000;
   }
   
   .page-footer {
    background: #FFFFFF;
    padding: 12px 0;
    font-size: 12px;
   }
   
   .page-footer .container {
    display: flex;
    justify-content:space-between;
   }
   
   .page-footer p {
    margin: 0;
    }